.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;

  &__info {
    margin: 2em 0 1em 0;

    > * {
      box-sizing: border-box;
      height: 40px;
      // border-right: none;
    }


  }
}